head,h2{
    text-align: center;
    font: bolder;
    border:gray;
    padding: 20px;
    border-style: solid;
    color: rgb(202, 190, 169);
    text-decoration: underline;
    background-color: rgb(49, 39, 39);
}


body{
    background-color: peachpuff;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

#navp,p{
    color: brown;
}

.para{
    color: rgb(33, 35, 37);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800px;
    font-style: inherit;
    text-decoration: none;
    letter-spacing: 1px;
}

div,#vid{
    justify-content: center;
    text-align: start;
}

div,#vid2{
    text-align: end;
}

div,#vid3{
    text-align: center;
}

p,.nav{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.nav{
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    list-style: none;
}

.nav:hover{
    color: rgb(42, 214, 214);
}

#navp{
    cursor: pointer;
}

#navp:hover{
    color: rgb(42, 214, 214);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(8, 19, 16);
}
